.App {
  height: 100vh;
  width: 100vw;
  background-color: rgba(168, 173, 182);
  display:grid;
  place-items: center;
}
.inputdiv{
  height: 50px;
  width: 80%;
  border-radius:  12px;
  background-color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.input{
  border: none;
  background:none;
  margin-left: 12px;
  flex:1;
}
.input:focus{
  outline: none;
}
.btn{
  margin-right:8px;
  background-color:rgb(214,213,213);
  border: none;
  border-radius: 10px;
  height:30px;
  width:50px;
}
.container{
  height: 550px;
  width: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(232,234,240);
  border-radius: 12px;
  padding: 32px;
}
.containerlist{
  flex: 1;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.listTask{
  display:flex;
  align-items: center;
  width: 80%;
  margin: 6px 4px;
  height: 40px;
  border-radius:12px;
  flex-direction: column;
}
.done{
  color: green;
  text-decoration: line-through;
}
.task{
    display: flex;
    align-items: center;
}
.task>button{
  height: 25px;
  width: 50px;
  border-radius: 12px;
  background-color:rgb(35, 174, 179);
  border: none;
  margin-left: 20px;
}